/* Style */

body {
  background: #dddddd;
  margin: 0.5em auto;
  max-width: 800px;
}

header, .menu, article, footer {
  background: #eeeeee;
  padding: 0.5em;
  margin: 0.5em 0px 0.5em 0px;
  border-radius: 1em;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

/* Text align */

.center
{ text-align: center; }

.left
{ text-align: left; }

.right
{ text-align: right; }

.middle
{ vertical-align: middle; }

/* Float */

.float_left
{ float: left; }

.float_right
{ float: right; }

.clear
{ clear: both; }

/* Text */

.small_caps
{ font-variant: small-caps; }

/* Image */

.imgtxt
{
  height: 1em;
  margin-right: 0.25em;
}
